.right{
    float: right;
    margin-right: 15px;
    margin-bottom: 15px;
    margin-top: -40px;
}
.left{
    margin-left: 5px;
    margin-bottom: 15px;
    margin-top: 5px;
}
a .right{
    text-decoration: none;
}
.ri{
    margin-top: 15px;
}
img{
    height: 100%!important;
    width: 100%;
}
.theater_show{
    height: 50%!important;
    margin-bottom: 5px;
}
.tm-10{
    margin-top: 15px;
}
.con .btn{
    position: absolute;
    top: 50%;
    left: 30%;
}
.btn{
    opacity: 0;
}
.con .btn:hover{
    opacity: 3;
    background-color: white;
}
.seat{
    height: 15px!important;
    width: 15px!important;
  
}
.book_seat{
    height: 15px!important;
    width: 15px!important;
    background-color: red;
    padding: 2px;
}
button{
    margin: 10px;
    
}
.payment{
    margin: 15px;
    margin-top: 30px;
    text-decoration: none;
}
a{
    text-decoration: none;
}
a .payment{
    margin: 10px;
}
.row{
    margin: 40px;
    align-items: center;
    text-align: center;
}
h5{
    color: red;
    margin-left: 10px;
}
h2{
    margin-left: 10px;
}
h1{
    margin-left: 10px;
}
h3{
    margin-left: 10px;
}
button{
    text-align: center;
    margin-left: 47%;
    margin-right: 47%;
}
.seat .nameset:hover{
    opacity: 5;
}
.imgbook{
    height: 300px!important;
    width: 300px!important;
    margin: 10px;
}
.ticket{
    margin: 30px;
    background-color:lightgray;
    padding: 10px;
}
.left{
    text-align: center;

    font-size: 30px;
}
.button{
    align-items: center;
    text-align: center;
}
@media print {
    body *{
        visibility: hidden;
    }
    .col-md-12 * {
        visibility: visible;
    }
}
.font{
font-size: 30px;
}
.message{
background: white;
color: darkred;
margin: 15px;
font-size: 20px;
}